---
import Button from '@/components/button.astro';
import ArrowRight from '@lucide/astro/icons/arrow-right';
---

<!-- content -->
<div class="container mx-auto px-6 relative z-10 min-w-full">
  <div class="grid lg:grid-cols-2 gap-12 items-center">
    <!-- left column -->
    <div class="space-y-8">
      <div class="animate-fade-in-slow animation-delay-400">
        <span class="flex items-center gap-4 text-sm">
          <img
            src="/assets/ely_headshot.jpg"
            alt="Ely Lucas Headshot"
            class="h-32 w-32 rounded-full"
          />
          <p class="text-lg text-foreground max-w-lg" style="--color-foreground: blue;">
            Hi I'm Ely, a software engineer in Denver, Colorado who loves
            building things and teaching what I learn.
          </p>
        </span>
      </div>
    </div>

    <!-- headline -->
    <div class="">
      <h1
        class="text-5xl md:text-6xl lg:text-7xl font-bold leading-tight animate-fade-in-slow animation-delay-200"
      >
        Does Pixel <span class="text-primary glow-text">dream</span>
        in <span class="font-serif italic font-normal text-white">code?</span>
      </h1>
      <img
        src="/assets/pixel_laptop.png"
        alt="Pixel Laptop"
        class="inline mr-2 animate-spin-in animate-scale-down-in animation-delay-600"
      />
    </div>

    <!-- ctas -->
    <!-- <div>
        <Button size="lg">Blog <ArrowRight class="w-5 h-5"/></Button>
        <button class=""></button>
       </div> -->
  </div>
</div>
